%article.workouts
  %h1 Workouts
  %small
    Click one to begin tracking your workout

  %section
    %table
      %thead
        %tr
          %th Name
          %th Start Workout

      %tbody
        - if workouts.present?
          - workouts.each do |workout|
            %tr
              %td
                = link_to 'x', workout_path(workout), method: :delete
                = workout.name

              %td= link_to 'start workout', start_seshion_path(workout), method: :post
        - else
          %tr
            %td{ colspan: 3 } No workouts have been created!
        %tr
          %td{ colspan: 3 }= link_to 'add workout', new_workout_path

- if seshions.present?
  %article.recent-seshions
    %h1 Recent Sessions
    %small Resume a workout session, or manage recent workout sessions.

    %section
      %table
        %thead
          %tr
            %th Date
            %th -
            %th -

        %tbody
          - seshions.each do |seshion|
            %tr
              %td= link_to seshion.formatted_date, seshion_path(seshion)
