%h1 Add a workout

%p
  Workouts group exercises together with a common name, so when you are
  ready to work out,
  %br
  they provide a template to keep track of progress for a workout.
  %br
  Exercises can be added and removed from workouts when tracking them.

= form_for workout_type do |f|
  = f.text_field :name, placeholder: "name of workout"

  %hr

  = f.fields_for :workout_exercise do |ff|
    = ff.select :exercise_type, [["Dumbbell Curl", 1], ["Squat", 2]]
    = ff.text_field :sets, placeholder: "sets"
    = ff.text_field :reps, placeholder: "reps"
    = link_to "add"

  %h3 Exercises

  %table
    %thead
      %tr
        %th Exercise
        %th Sets
        %th Reps

    %tbody
      %tr
        %td Dumbbell Curls
        %td 5
        %td 5

  %br

  = f.submit "add workout"
