!!!
%html
  %head
    %title Lift Kit
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body{ class: body_class }
    %header
      %h1.logo liftkit

      %nav
        %ul
          %li= link_to "home", "/"

          - if current_user.present?
            %li= link_to "signout", destroy_user_session_path
          - else
            %li= link_to "signup", new_user_registration_path
            %li= link_to "signin", new_user_session_path

    %p.notice= notice
    %p.alert= alert


    %main
      = yield

    %footer
      liftkit
      &copy;
      = Date.current.year

    = javascript_include_tag 'application'
    = yield(:javascripts)
