!!!
%html
  %head
    %title Starting Strength
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body{ class: body_class }
    %header
      %p.notice= notice
      %p.alert= alert

      = link_to "home", "/"

      - if current_user.present?
        = link_to "signout", destroy_user_session_path
      - else
        = link_to "signup", new_user_registration_path
        = link_to "signin", new_user_session_path

    %main
      = yield

    %footer
      2015

    = javascript_include_tag 'application'
